.turtle {
  display: none;
}
.alligator {
  display: none;
}
.dog {
  display: none;
}
.squirrel {
  display: none;
}
.hedgehog {
  display: none;
}
.frog {
  display: none;
}
.zebra {
  display: none;
}
